/* RESETS */

html,body,div,h1,p,a,video {
  margin: -5px;
  padding: 0;
  color: #daccce;
  font-size: 22px;
  color
}

/* HTML & BODY */

html,body {
  height: 100%;
}

body {
  font-family: "Oxygen", sans-serif;
}

/* CONTENT */

.content {
  position: relative;
  z-index: 2;
}
.content {
  position: relative;
  top: 30%;
  z-index: 2;
  margin: 0 auto;
  max-width: 720px;
  text-align: center;
}

.content__heading {
  margin-bottom: 24px;
  color: #ecf0f1;
  font-size: 70px;
}

.content__teaser {
  margin-bottom: 24px;
  color: #clac98;
  font-size: 22px;
}

.content__cta {
  display: inline-felx;
  margin: 0;
  padding: 10px 48px;
  color: #ecf0f1;
  font-size: 22px;
  text-decoration: none;
  border: solid 4px #999cac;
}

/* VIDEO */

.video {
  position: fixed;
  top: 50%; left: 50%;
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
}
/* Nav Bar */

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

nav {
  height: 40px;
  width: 100%;
  background: #4a4d50;
  font-size: 11pt;
  font-family: 'PT Sans', Arial, sans-serif;
  font-weight: bold;
  position: relative;
  border-bottom: 2px solid #4a4d50;
  display: block;
}






































/*element.style {
  -webkit-user-select: none;
  cursor: pointer;
}


body {
  height: 100%;
  font-family: sans-serif;
}
li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-align: -webkit-match-parent;
}

.content {
  color: #fff;
  padding: 12em 0 20em 0;
  text-align: center;
  width: 85%;
  margin: 0 auto;
}
.tagline h1{
  font-size: 100px;
  font-weight: 500;
}
.tagline p {
  font-size: 22px;
  color: #E8E8E8;
}
.intro p {
  font-size: 19px;
  padding: 5px 0;
}
.content button {
  background-color: #E8E8E8;
  border-color: #E8E8E8;
  color: #484848;

}*/
