<!--City Enhancers Profiles -->
  <figure class="snip1336">
  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample87.jpg" alt="sample87" />
  <figcaption>
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/profile-sample4.jpg" alt="profile-sample4" class="profile" />
    <h2>Gordon Williams<span>Rapper/Viking</span></h2>
    <p>If you're interested to view the nightlife through my eyes and experience an evening that you will never forget, then let me guide you around this beautiful city. I know all the local bars, and all the after-parties to assure a great journal entry later that night... and in the morning I'm cooking waffles!</p>
    <a href="#" class="follow">Book a Tour</a>
    <a href="#" class="info">More Info</a>
  </figcaption>
</figure>
<figure class="snip1336 hover"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample69.jpg" alt="sample74" />
  <figcaption>
    <img src="videos/FullSizeRender.jpg" alt="profile-sample2" class="omar" />
    <h2>Omar Castro<span>Dir. of First Impressions</span></h2>
    <p>HOLA! If you like to eat, workout, hike, people watch and see how many Groupons we can use in one day, then book your next city tour with me. No two tours are ever the same and I have been here my whole life and know where everything is, which pretty much makes the best city-enhancer this side of the Rookies.</p>
    <a href="#" class="follow">Book a tour</a>
    <a href="#" class="info">More Info</a>
  </figcaption>
</figure>
<figure class="snip1336"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample74.jpg" alt="sample69" />
  <figcaption>
    <img src="videos/ace.jpg" alt="profile-sample5" class="ace" />
    <h2>Ace Ventura<span>Pet Detective</span></h2>
    <p>Who wouldn't want to book a tour with a guy that has hair this good?! I can show you all the interesting things you never thought you would like to see. Whatever we do, we might need to go to church and confess our sins, but I will give you a bottle of my gel as a souvenir. Take care now, bye bye then.. Book with me!</p>
    <a href="#" class="follow">Book a Tour</a>
    <a href="#" class="info">More Info</a>
  </figcaption>
</figure>
