<div class="content">
  <h1 class="content__heading">Concierge</h1>
  <p>View the city through the eyes of a local.</p>
  <hr>
  <p class="content__teaser">Concierge was created for the travler that is tired of being lost in a city with nothing to do. We provide you with your own "city-enhancer" that will show you around town, based off things you want to see or select a themed tour created by city enhancers.</p>
  <a href="backupPage.html" class="content__cta">Book a Tour!</a>
</div>
<!-- BACKGROUND VIDEO -->
<video id="my-video" class="video" autoplay muted loop>
  <source src="videos/Coverr-market2.mp4" type="video/mp4">
</video>
<button class="btn btn-default"onclick="window.location.href='backupPage.html'">Book a Tour</button>
<a ui-sref="home"></a>
